@model CommercialApp.Models.InvoiceItem

@{
    ViewData["Title"] = "CreateItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kalem Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Miktar</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Birim Tutar</label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Toplam Tutar</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label">Fatura</label>
                @Html.DropDownList("Id", (SelectList)ViewBag.Invoices, "Seçiniz", new { @class = "form-control" })
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Fatura Kalemi Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri dön</a>
</div>

