@model List<Employee>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Departman Detayları</h1>

<hr />

<ol class="breadcrumb mp-4">
    <li class="breadcrumb-item active">Departman: @ViewBag.depart</li>
</ol>


<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Personel</th>
            <th>Satışlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name @employee.Surname</td>
                <td><a asp-action="EmployeeSales" asp-route-id="@employee.Id" class="btn btn-info"><i class="fas fa-info-circle"></i></a></td>
            </tr>
        }
    </tbody>
</table>
