
<div class="login-form login-form-left">
	<div class="agile-row">
		<h3>Personel Giriş Formu</h3>
		<div class="clear"></div>
		<div class="login-agileits-top">
			@using (Html.BeginForm("LoginPartial", "Login", FormMethod.Post))
			{
				<input type="email" class="name" name="UserName" Placeholder="Kullanıcı Adı" required="" />
				<input type="password" class="password" name="Password" Placeholder="Şifre" required="" />
				<input type="submit" value="Giriş Yap">
			}
		</div>
	</div>
</div>